*.a
*.dll
*.dylib
*.exe
*.fas*
*.*history
*.lib
*.o
*.obj
*.so*
*.DS_Store
*.qm
*.qmlc
*.ts
*~
*.~
#*.*#
.*.lisp
.*.ui
.*.txt
*.user
t.lisp
tr.h
moc_*.cpp
Makefile
eql
eql5
eql.app
gui/.*
my_app/my_app
my_app/my_app.app/*
my_app/.*
src/ECL*
src/tmp
eql_profile*
eql_local_server
cache
tmp*
palindrome.htm
positions.js
qrc_*.cpp
