a:link, a:visited { text-decoration: none; color: blue; }
a:hover { text-decoration: underline; }
body { font-family: sans-serif; font-size: 10.5pt; }
code, pre { color: mediumblue; }
.added { color: red; }

